.Login {
  display: grid;
  overflow: hidden;
  height: 100%;

  grid-template-areas: "left right";

  grid-template-columns: 50% 50%;

  .Login-left {
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Login-right {
    background-color: white;
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
