.container {
  height: 100%;
  display: flex;
}

.leftContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  width: 50%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}



.title {
  margin: 0;
}
