.container {
  /* height: 100%; */
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
}
.titleContainer {
  text-align: center;
}
.title {
  width: 100%;
  margin: 0;
}
.subtitle {
  margin: 0;
}
.buttonContainer {
  position: absolute;
  right: 60px;
}
.card {
  margin: 20px 60px;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 1px 1px 10px 0 rgba(32, 32, 32, 0.2);
}
.inputSearch {
  height: 25px;
  width: 100%;
}
